workflow:
  rules:
    - when: always

stages:
  - reading_order

.arc_job:
  stage: reading_order
  tags:
    - local
  script:
    - |
      value="$(printenv "$ARC_VAR" || true)"
      if [ "$value" = "1" ]; then
        echo "[OK] $ARC_NAME marked as read"
      else
        echo "[FAIL] $ARC_NAME is pending"
        echo "To pass this job, run the pipeline with $ARC_VAR=1"
        exit 1
      fi

# Core timeline
crisis_on_multiple_earths:
  extends: .arc_job
  variables:
    ARC_VAR: READ_CRISIS_ON_MULTIPLE_EARTHS
    ARC_NAME: "Crisis on Multiple Earths"

roots_of_the_swamp_thing:
  extends: .arc_job
  variables:
    ARC_VAR: READ_ROOTS_OF_THE_SWAMP_THING
    ARC_NAME: "Roots of the Swamp Thing"

crisis_on_infinite_earths:
  extends: .arc_job
  needs:
    - crisis_on_multiple_earths
    - roots_of_the_swamp_thing
    - justice_league_of_america_league_that_defeated_itself
  variables:
    ARC_VAR: READ_CRISIS_ON_INFINITE_EARTHS
    ARC_NAME: "Crisis on Infinite Earths"

# Batman branch
batman_year_one:
  extends: .arc_job
  needs:
    - crisis_on_infinite_earths
  variables:
    ARC_VAR: READ_BATMAN_YEAR_ONE
    ARC_NAME: "Batman: Year One"

batman_haunted_knight:
  extends: .arc_job
  needs:
    - batman_year_one
  variables:
    ARC_VAR: READ_BATMAN_HAUNTED_KNIGHT
    ARC_NAME: "Batman: Haunted Knight"

batman_the_long_halloween:
  extends: .arc_job
  needs:
    - batman_haunted_knight
  variables:
    ARC_VAR: READ_BATMAN_THE_LONG_HALLOWEEN
    ARC_NAME: "Batman: The Long Halloween"

batman_dark_victory:
  extends: .arc_job
  needs:
    - batman_the_long_halloween
  variables:
    ARC_VAR: READ_BATMAN_DARK_VICTORY
    ARC_NAME: "Batman: Dark Victory"

batman_the_killing_joke:
  extends: .arc_job
  needs:
    - batman_dark_victory
  variables:
    ARC_VAR: READ_BATMAN_THE_KILLING_JOKE
    ARC_NAME: "Batman: The Killing Joke"

arkham_asylum_serious_house:
  extends: .arc_job
  needs:
    - batman_the_killing_joke
  variables:
    ARC_VAR: READ_ARKHAM_ASYLUM_SERIOUS_HOUSE
    ARC_NAME: "Arkham Asylum: A Serious House on Serious Earth"

batman_gothic:
  extends: .arc_job
  needs:
    - batman_the_killing_joke
  variables:
    ARC_VAR: READ_BATMAN_GOTHIC
    ARC_NAME: "Batman: Gothic"

batman_a_death_in_the_family:
  extends: .arc_job
  needs:
    - arkham_asylum_serious_house
    - batman_gothic
  variables:
    ARC_VAR: READ_BATMAN_A_DEATH_IN_THE_FAMILY
    ARC_NAME: "Batman: A Death in the Family"

batman_a_lonely_place_of_dying:
  extends: .arc_job
  needs:
    - batman_a_death_in_the_family
  variables:
    ARC_VAR: READ_BATMAN_A_LONELY_PLACE_OF_DYING
    ARC_NAME: "Batman: A Lonely Place of Dying"

batman_hush:
  extends: .arc_job
  needs:
    - batman_a_lonely_place_of_dying
  variables:
    ARC_VAR: READ_BATMAN_HUSH
    ARC_NAME: "Batman: Hush"

batman_under_the_hood:
  extends: .arc_job
  needs:
    - identity_crisis
    - batman_hush
  variables:
    ARC_VAR: READ_BATMAN_UNDER_THE_HOOD
    ARC_NAME: "Batman: Under the Hood"

batman_face_the_face:
  extends: .arc_job
  needs:
    - infinite_crisis
    - batman_under_the_hood
  variables:
    ARC_VAR: READ_BATMAN_FACE_THE_FACE
    ARC_NAME: "Batman: Face the Face"

batman_and_son:
  extends: .arc_job
  needs:
    - batman_face_the_face
  variables:
    ARC_VAR: READ_BATMAN_AND_SON
    ARC_NAME: "Batman and Son"

batman_resurrection_of_ras_al_ghul:
  extends: .arc_job
  needs:
    - batman_and_son
  variables:
    ARC_VAR: READ_BATMAN_RESURRECTION_OF_RAS_AL_GHUL
    ARC_NAME: "Batman: The Resurrection of Ra's al Ghul"

batman_the_black_glove:
  extends: .arc_job
  needs:
    - batman_resurrection_of_ras_al_ghul
  variables:
    ARC_VAR: READ_BATMAN_THE_BLACK_GLOVE
    ARC_NAME: "Batman: The Black Glove"

batman_rip:
  extends: .arc_job
  needs:
    - batman_the_black_glove
  variables:
    ARC_VAR: READ_BATMAN_RIP
    ARC_NAME: "Batman R.I.P."

batman_battle_for_the_cowl:
  extends: .arc_job
  needs:
    - final_crisis
    - batman_rip
  variables:
    ARC_VAR: READ_BATMAN_BATTLE_FOR_THE_COWL
    ARC_NAME: "Batman: Battle for the Cowl"

batman_and_robin:
  extends: .arc_job
  needs:
    - batman_battle_for_the_cowl
  variables:
    ARC_VAR: READ_BATMAN_AND_ROBIN
    ARC_NAME: "Batman and Robin (1-12)"

batman_return_of_bruce_wayne:
  extends: .arc_job
  needs:
    - batman_and_robin
    - blackest_night
  variables:
    ARC_VAR: READ_BATMAN_RETURN_OF_BRUCE_WAYNE
    ARC_NAME: "Return of Bruce Wayne"

# Superman branch
the_death_of_superman:
  extends: .arc_job
  needs:
    - crisis_on_infinite_earths
  variables:
    ARC_VAR: READ_THE_DEATH_OF_SUPERMAN
    ARC_NAME: "The Death of Superman"

rise_of_the_supermen:
  extends: .arc_job
  needs:
    - the_death_of_superman
  variables:
    ARC_VAR: READ_RISE_OF_THE_SUPERMEN
    ARC_NAME: "Rise of the Supermen"

the_return_of_superman:
  extends: .arc_job
  needs:
    - rise_of_the_supermen
  variables:
    ARC_VAR: READ_THE_RETURN_OF_SUPERMAN
    ARC_NAME: "The Return of Superman"

# Green Lantern branch
green_lantern_emerald_dawn:
  extends: .arc_job
  needs:
    - crisis_on_infinite_earths
  variables:
    ARC_VAR: READ_GREEN_LANTERN_EMERALD_DAWN
    ARC_NAME: "Green Lantern: Emerald Dawn"

green_lantern_emerald_twilight:
  extends: .arc_job
  needs:
    - the_return_of_superman
    - green_lantern_emerald_dawn
  variables:
    ARC_VAR: READ_GREEN_LANTERN_EMERALD_TWILIGHT
    ARC_NAME: "Green Lantern: Emerald Twilight"

green_lantern_a_new_dawn:
  extends: .arc_job
  needs:
    - green_lantern_emerald_twilight
  variables:
    ARC_VAR: READ_GREEN_LANTERN_A_NEW_DAWN
    ARC_NAME: "Green Lantern: A New Dawn"

green_lantern_rebirth:
  extends: .arc_job
  needs:
    - identity_crisis
    - day_of_judgment
  variables:
    ARC_VAR: READ_GREEN_LANTERN_REBIRTH
    ARC_NAME: "Green Lantern: Rebirth"

green_lantern_secret_origin:
  extends: .arc_job
  needs:
    - infinite_crisis
    - green_lantern_rebirth
  variables:
    ARC_VAR: READ_GREEN_LANTERN_SECRET_ORIGIN
    ARC_NAME: "Green Lantern: Secret Origin"

sinestro_corps_war:
  extends: .arc_job
  needs:
    - fifty_two
    - green_lantern_secret_origin
    - one_year_later
  variables:
    ARC_VAR: READ_SINESTRO_CORPS_WAR
    ARC_NAME: "Sinestro Corps War"

war_of_light:
  extends: .arc_job
  needs:
    - final_crisis
    - sinestro_corps_war
  variables:
    ARC_VAR: READ_WAR_OF_LIGHT
    ARC_NAME: "War of Light"

blackest_night:
  extends: .arc_job
  needs:
    - war_of_light
    - flash_rebirth
  variables:
    ARC_VAR: READ_BLACKEST_NIGHT
    ARC_NAME: "Blackest Night"

brightest_day:
  extends: .arc_job
  needs:
    - blackest_night
  variables:
    ARC_VAR: READ_BRIGHTEST_DAY
    ARC_NAME: "Brightest Day"

# Event spine
zero_hour:
  extends: .arc_job
  needs:
    - green_lantern_a_new_dawn
  variables:
    ARC_VAR: READ_ZERO_HOUR
    ARC_NAME: "Zero Hour"

the_final_night:
  extends: .arc_job
  needs:
    - zero_hour
  variables:
    ARC_VAR: READ_THE_FINAL_NIGHT
    ARC_NAME: "The Final Night"

day_of_judgment:
  extends: .arc_job
  needs:
    - the_final_night
  variables:
    ARC_VAR: READ_DAY_OF_JUDGMENT
    ARC_NAME: "Day of Judgment"

identity_crisis:
  extends: .arc_job
  needs:
    - batman_hush
    - day_of_judgment
    - justice_league_of_america_league_that_defeated_itself
  variables:
    ARC_VAR: READ_IDENTITY_CRISIS
    ARC_NAME: "Identity Crisis"

villains_united:
  extends: .arc_job
  needs:
    - identity_crisis
  variables:
    ARC_VAR: READ_VILLAINS_UNITED
    ARC_NAME: "Villains United"

omac_project:
  extends: .arc_job
  needs:
    - identity_crisis
  variables:
    ARC_VAR: READ_OMAC_PROJECT
    ARC_NAME: "OMAC Project"

day_of_vengeance:
  extends: .arc_job
  needs:
    - identity_crisis
  variables:
    ARC_VAR: READ_DAY_OF_VENGEANCE
    ARC_NAME: "Day of Vengeance"

rann_thanagar_war:
  extends: .arc_job
  needs:
    - identity_crisis
  variables:
    ARC_VAR: READ_RANN_THANAGAR_WAR
    ARC_NAME: "Rann-Thanagar War"

infinite_crisis:
  extends: .arc_job
  needs:
    - villains_united
    - omac_project
    - day_of_vengeance
    - rann_thanagar_war
    - green_lantern_rebirth
    - batman_under_the_hood
    - swamp_thing_by_brian_k_vaughan
    - grant_morrisons_animal_man
  variables:
    ARC_VAR: READ_INFINITE_CRISIS
    ARC_NAME: "Infinite Crisis"

one_year_later:
  extends: .arc_job
  needs:
    - infinite_crisis
  variables:
    ARC_VAR: READ_ONE_YEAR_LATER
    ARC_NAME: "One Year Later"

fifty_two:
  extends: .arc_job
  needs:
    - infinite_crisis
  variables:
    ARC_VAR: READ_52
    ARC_NAME: "52"

countdown:
  extends: .arc_job
  needs:
    - one_year_later
    - fifty_two
  variables:
    ARC_VAR: READ_COUNTDOWN
    ARC_NAME: "Countdown"

seven_soldiers_of_victory:
  extends: .arc_job
  needs:
    - one_year_later
    - fifty_two
  variables:
    ARC_VAR: READ_SEVEN_SOLDIERS_OF_VICTORY
    ARC_NAME: "Seven Soldiers of Victory"

death_of_the_new_gods:
  extends: .arc_job
  needs:
    - fifty_two
  variables:
    ARC_VAR: READ_DEATH_OF_THE_NEW_GODS
    ARC_NAME: "Death of the New Gods"

final_crisis:
  extends: .arc_job
  needs:
    - countdown
    - seven_soldiers_of_victory
    - death_of_the_new_gods
    - sinestro_corps_war
    - batman_rip
  variables:
    ARC_VAR: READ_FINAL_CRISIS
    ARC_NAME: "Final Crisis"

flash_rebirth:
  extends: .arc_job
  needs:
    - final_crisis
  variables:
    ARC_VAR: READ_FLASH_REBIRTH
    ARC_NAME: "The Flash: Rebirth"

flash_flashpoint:
  extends: .arc_job
  needs:
    - batman_return_of_bruce_wayne
    - brightest_day
    - flash_rebirth
  variables:
    ARC_VAR: READ_FLASH_FLASHPOINT
    ARC_NAME: "Flash: Flashpoint"

# Swamp Thing branch
saga_of_the_swamp_thing:
  extends: .arc_job
  needs:
    - crisis_on_infinite_earths
    - roots_of_the_swamp_thing
  variables:
    ARC_VAR: READ_SAGA_OF_THE_SWAMP_THING
    ARC_NAME: "Saga of the Swamp Thing"

swamp_thing_love_and_death:
  extends: .arc_job
  needs:
    - saga_of_the_swamp_thing
  variables:
    ARC_VAR: READ_SWAMP_THING_LOVE_AND_DEATH
    ARC_NAME: "Swamp Thing: Love and Death"

swamp_thing_the_curse:
  extends: .arc_job
  needs:
    - swamp_thing_love_and_death
  variables:
    ARC_VAR: READ_SWAMP_THING_THE_CURSE
    ARC_NAME: "Swamp Thing: The Curse"

swamp_thing_a_murder_of_crows:
  extends: .arc_job
  needs:
    - swamp_thing_the_curse
  variables:
    ARC_VAR: READ_SWAMP_THING_A_MURDER_OF_CROWS
    ARC_NAME: "Swamp Thing: A Murder of Crows"

swamp_thing_earth_to_earth:
  extends: .arc_job
  needs:
    - swamp_thing_a_murder_of_crows
  variables:
    ARC_VAR: READ_SWAMP_THING_EARTH_TO_EARTH
    ARC_NAME: "Swamp Thing: Earth to Earth"

swamp_thing_reunion:
  extends: .arc_job
  needs:
    - swamp_thing_earth_to_earth
  variables:
    ARC_VAR: READ_SWAMP_THING_REUNION
    ARC_NAME: "Swamp Thing: Reunion"

swamp_thing_by_brian_k_vaughan:
  extends: .arc_job
  needs:
    - swamp_thing_reunion
  variables:
    ARC_VAR: READ_SWAMP_THING_BY_BRIAN_K_VAUGHAN
    ARC_NAME: "Swamp Thing by Brian K. Vaughan"

swamp_thing_raise_them_bones:
  extends: .arc_job
  needs:
    - swamp_thing_by_brian_k_vaughan
    - flash_flashpoint
  variables:
    ARC_VAR: READ_SWAMP_THING_RAISE_THEM_BONES
    ARC_NAME: "Swamp Thing: Raise Them Bones"

# Animal Man branch
grant_morrisons_animal_man:
  extends: .arc_job
  needs:
    - crisis_on_infinite_earths
  variables:
    ARC_VAR: READ_GRANT_MORRISONS_ANIMAL_MAN
    ARC_NAME: "Grant Morrison's Animal Man"

animal_man_the_hunt:
  extends: .arc_job
  needs:
    - flash_flashpoint
    - grant_morrisons_animal_man
  variables:
    ARC_VAR: READ_ANIMAL_MAN_THE_HUNT
    ARC_NAME: "Animal Man: The Hunt"

animal_man_animal_vs_man:
  extends: .arc_job
  needs:
    - animal_man_the_hunt
    - swamp_thing_raise_them_bones
  variables:
    ARC_VAR: READ_ANIMAL_MAN_ANIMAL_VS_MAN
    ARC_NAME: "Animal Man: Animal vs. Man"

# Swamp Thing: Family Tree
swamp_thing_family_tree:
  extends: .arc_job
  needs:
    - swamp_thing_raise_them_bones
  variables:
    ARC_VAR: READ_SWAMP_THING_FAMILY_TREE
    ARC_NAME: "Swamp Thing: Family Tree"

# Swamp Thing: Rotworld - The Green Kingdom
swamp_thing_rotworld_green_kingdom:
  extends: .arc_job
  needs:
    - swamp_thing_family_tree
    - animal_man_animal_vs_man
  variables:
    ARC_VAR: READ_SWAMP_THING_ROTWORLD_GREEN_KINGDOM
    ARC_NAME: "Swamp Thing: Rotworld - The Green Kingdom"

# Animal Man: Rotworld - The Red Kingdom
animal_man_rotworld_red_kingdom:
  extends: .arc_job
  needs:
    - swamp_thing_family_tree
    - animal_man_animal_vs_man
  variables:
    ARC_VAR: READ_ANIMAL_MAN_ROTWORLD_RED_KINGDOM
    ARC_NAME: "Animal Man: Rotworld - The Red Kingdom"

# Aquaman: The Trench
aquaman_the_trench:
  extends: .arc_job
  needs:
    - flash_flashpoint
  variables:
    ARC_VAR: READ_AQUAMAN_THE_TRENCH
    ARC_NAME: "Aquaman: The Trench"

# Aquaman: The Others
aquaman_the_others:
  extends: .arc_job
  needs:
    - aquaman_the_trench
  variables:
    ARC_VAR: READ_AQUAMAN_THE_OTHERS
    ARC_NAME: "Aquaman: The Others"

# Justice League: Origin
justice_league_origin:
  extends: .arc_job
  needs:
    - flash_flashpoint
  variables:
    ARC_VAR: READ_JUSTICE_LEAGUE_ORIGIN
    ARC_NAME: "Justice League: Origin"

# Justice League: The Villain's Journey
justice_league_villains_journey:
  extends: .arc_job
  needs:
    - justice_league_origin
  variables:
    ARC_VAR: READ_JUSTICE_LEAGUE_VILLAINS_JOURNEY
    ARC_NAME: "Justice League: The Villain's Journey"

# Throne of Atlantis
throne_of_atlantis:
  extends: .arc_job
  needs:
    - aquaman_the_others
    - justice_league_villains_journey
  variables:
    ARC_VAR: READ_THRONE_OF_ATLANTIS
    ARC_NAME: "Throne of Atlantis"

# Aquaman: Death of a King
aquaman_death_of_a_king:
  extends: .arc_job
  needs:
    - throne_of_atlantis
  variables:
    ARC_VAR: READ_AQUAMAN_DEATH_OF_A_KING
    ARC_NAME: "Aquaman: Death of a King"

# Justice League of America: World's Most Dangerous
justice_league_of_america_worlds_most_dangerous:
  extends: .arc_job
  needs:
    - throne_of_atlantis
  variables:
    ARC_VAR: READ_JUSTICE_LEAGUE_OF_AMERICA_WORLDS_MOST_DANGEROUS
    ARC_NAME: "Justice League of America: World's Most Dangerous"

# Trinity War
trinity_war:
  extends: .arc_job
  needs:
    - throne_of_atlantis
    - aquaman_death_of_a_king
    - justice_league_of_america_worlds_most_dangerous
    - batman_requiem
    - green_lantern_rise_of_the_third_army
  variables:
    ARC_VAR: READ_TRINITY_WAR
    ARC_NAME: "Trinity War"

# Forever Evil
forever_evil:
  extends: .arc_job
  needs:
    - trinity_war
  variables:
    ARC_VAR: READ_FOREVER_EVIL
    ARC_NAME: "Forever Evil"

# Justice League: Injustice League
justice_league_injustice_league:
  extends: .arc_job
  needs:
    - forever_evil
  variables:
    ARC_VAR: READ_JUSTICE_LEAGUE_INJUSTICE_LEAGUE
    ARC_NAME: "Justice League: Injustice League"

# Justice League: The Darkseid War
justice_league_darkseid_war:
  extends: .arc_job
  needs:
    - justice_league_injustice_league
    - batman_endgame
  variables:
    ARC_VAR: READ_JUSTICE_LEAGUE_DARKSEID_WAR
    ARC_NAME: "Justice League: The Darkseid War"

# Batman: The Court of Owls
batman_court_of_owls:
  extends: .arc_job
  needs:
    - flash_flashpoint
  variables:
    ARC_VAR: READ_BATMAN_COURT_OF_OWLS
    ARC_NAME: "Batman: The Court of Owls"

# Batman: Night of the Owls
batman_night_of_the_owls:
  extends: .arc_job
  needs:
    - batman_court_of_owls
  variables:
    ARC_VAR: READ_BATMAN_NIGHT_OF_THE_OWLS
    ARC_NAME: "Batman: Night of the Owls"

# Batman: Death of the Family
batman_death_of_the_family:
  extends: .arc_job
  needs:
    - batman_night_of_the_owls
    - batman_and_robin_born_to_kill
    - batman_faces_of_death
  variables:
    ARC_VAR: READ_BATMAN_DEATH_OF_THE_FAMILY
    ARC_NAME: "Batman: Death of the Family"

# Batman: Zero Year
batman_zero_year:
  extends: .arc_job
  needs:
    - flash_flashpoint
  variables:
    ARC_VAR: READ_BATMAN_ZERO_YEAR
    ARC_NAME: "Batman: Zero Year"

# Batman and Robin: Born to Kill
batman_and_robin_born_to_kill:
  extends: .arc_job
  needs:
    - batman_court_of_owls
  variables:
    ARC_VAR: READ_BATMAN_AND_ROBIN_BORN_TO_KILL
    ARC_NAME: "Batman and Robin: Born to Kill"

# Batman: Requiem
batman_requiem:
  extends: .arc_job
  needs:
    - batman_death_of_the_family
  variables:
    ARC_VAR: READ_BATMAN_REQUIEM
    ARC_NAME: "Batman: Requiem"

# Batman: Faces of Death
batman_faces_of_death:
  extends: .arc_job
  needs:
    - batman_court_of_owls
  variables:
    ARC_VAR: READ_BATMAN_FACES_OF_DEATH
    ARC_NAME: "Batman: Faces of Death"

# Batman: Endgame
batman_endgame:
  extends: .arc_job
  needs:
    - forever_evil
    - batman_zero_year
  variables:
    ARC_VAR: READ_BATMAN_ENDGAME
    ARC_NAME: "Batman: Endgame"

# Batman: Superheavy
batman_superheavy:
  extends: .arc_job
  needs:
    - batman_endgame
    - justice_league_darkseid_war
  variables:
    ARC_VAR: READ_BATMAN_SUPERHEAVY
    ARC_NAME: "Batman: Superheavy"

# Green Lantern: Sinestro
green_lantern_sinestro:
  extends: .arc_job
  needs:
    - flash_flashpoint
  variables:
    ARC_VAR: READ_GREEN_LANTERN_SINESTRO
    ARC_NAME: "Green Lantern: Sinestro"

# Green Lantern: Revenge of the Black Hand
green_lantern_revenge_of_the_black_hand:
  extends: .arc_job
  needs:
    - green_lantern_sinestro
  variables:
    ARC_VAR: READ_GREEN_LANTERN_REVENGE_OF_THE_BLACK_HAND
    ARC_NAME: "Green Lantern: Revenge of the Black Hand"

# Green Lantern: Rise of the Third Army
green_lantern_rise_of_the_third_army:
  extends: .arc_job
  needs:
    - green_lantern_revenge_of_the_black_hand
  variables:
    ARC_VAR: READ_GREEN_LANTERN_RISE_OF_THE_THIRD_ARMY
    ARC_NAME: "Green Lantern: Rise of the Third Army"

# Justice League of America: The League That Defeated Itself
justice_league_of_america_league_that_defeated_itself:
  extends: .arc_job
  variables:
    ARC_VAR: READ_JUSTICE_LEAGUE_OF_AMERICA_LEAGUE_THAT_DEFEATED_ITSELF
    ARC_NAME: "Justice League of America: The League That Defeated Itself"  
