workflow:
  rules:
    - when: always

stages:
  - reading_order

.arc_job:
  stage: reading_order
  tags:
    - local
  script:
    - |
      value="$(printenv "$ARC_VAR" || true)"
      if [ "$value" = "1" ]; then
        echo "[OK] $ARC_NAME marked as read"
      else
        echo "[FAIL] $ARC_NAME is pending"
        echo "To pass this job, run the pipeline with $ARC_VAR=1"
        exit 1
      fi

crisis_on_multiple_earths:
  extends: .arc_job
  variables:
    ARC_VAR: READ_CRISIS_ON_MULTIPLE_EARTHS
    ARC_NAME: "Crisis on Multiple Earths"

roots_of_the_swamp_thing:
  extends: .arc_job
  needs: [crisis_on_multiple_earths]
  variables:
    ARC_VAR: READ_ROOTS_OF_THE_SWAMP_THING
    ARC_NAME: "Roots of the Swamp Thing"

crisis_on_infinite_earths:
  extends: .arc_job
  needs: [crisis_on_multiple_earths, roots_of_the_swamp_thing]
  variables:
    ARC_VAR: READ_CRISIS_ON_INFINITE_EARTHS
    ARC_NAME: "Crisis on Infinite Earths"

batman_year_one:
  extends: .arc_job
  needs: [crisis_on_infinite_earths]
  variables:
    ARC_VAR: READ_BATMAN_YEAR_ONE
    ARC_NAME: "Batman: Year One"

the_death_of_superman:
  extends: .arc_job
  needs: [crisis_on_infinite_earths]
  variables:
    ARC_VAR: READ_THE_DEATH_OF_SUPERMAN
    ARC_NAME: "The Death of Superman"

green_lantern_emerald_dawn:
  extends: .arc_job
  needs: [crisis_on_infinite_earths]
  variables:
    ARC_VAR: READ_GREEN_LANTERN_EMERALD_DAWN
    ARC_NAME: "Green Lantern: Emerald Dawn"

batman_haunted_knight:
  extends: .arc_job
  needs: [batman_year_one]
  variables:
    ARC_VAR: READ_BATMAN_HAUNTED_KNIGHT
    ARC_NAME: "Batman: Haunted Knight"

rise_of_the_supermen:
  extends: .arc_job
  needs: [the_death_of_superman]
  variables:
    ARC_VAR: READ_RISE_OF_THE_SUPERMEN
    ARC_NAME: "Rise of the Supermen"

batman_the_long_halloween:
  extends: .arc_job
  needs: [batman_haunted_knight]
  variables:
    ARC_VAR: READ_BATMAN_THE_LONG_HALLOWEEN
    ARC_NAME: "Batman: The Long Halloween"

the_return_of_superman:
  extends: .arc_job
  needs: [rise_of_the_supermen]
  variables:
    ARC_VAR: READ_THE_RETURN_OF_SUPERMAN
    ARC_NAME: "The Return of Superman"

batman_dark_victory:
  extends: .arc_job
  needs: [batman_the_long_halloween]
  variables:
    ARC_VAR: READ_BATMAN_DARK_VICTORY
    ARC_NAME: "Batman: Dark Victory"

green_lantern_emerald_twilight:
  extends: .arc_job
  needs:
    - the_return_of_superman
    - green_lantern_emerald_dawn
  variables:
    ARC_VAR: READ_GREEN_LANTERN_EMERALD_TWILIGHT
    ARC_NAME: "Green Lantern: Emerald Twilight"

batman_the_killing_joke:
  extends: .arc_job
  needs: [batman_dark_victory]
  variables:
    ARC_VAR: READ_BATMAN_THE_KILLING_JOKE
    ARC_NAME: "Batman: The Killing Joke"

green_lantern_a_new_dawn:
  extends: .arc_job
  needs: [green_lantern_emerald_twilight]
  variables:
    ARC_VAR: READ_GREEN_LANTERN_A_NEW_DAWN
    ARC_NAME: "Green Lantern: A New Dawn"

batman_a_death_in_the_family:
  extends: .arc_job
  needs: [arkham_asylum_serious_house, batman_gothic]
  variables:
    ARC_VAR: READ_BATMAN_A_DEATH_IN_THE_FAMILY
    ARC_NAME: "Batman: A Death in the Family"

zero_hour:
  extends: .arc_job
  needs: [green_lantern_a_new_dawn]
  variables:
    ARC_VAR: READ_ZERO_HOUR
    ARC_NAME: "Zero Hour"

the_final_night:
  extends: .arc_job
  needs: [zero_hour]
  variables:
    ARC_VAR: READ_THE_FINAL_NIGHT
    ARC_NAME: "The Final Night"

day_of_judgment:
  extends: .arc_job
  needs: [the_final_night]
  variables:
    ARC_VAR: READ_DAY_OF_JUDGMENT
    ARC_NAME: "Day of Judgment"

identity_crisis:
  extends: .arc_job
  needs:
    - batman_hush
    - day_of_judgment
    - swamp_thing_reunion
    - grant_morrisons_animal_man
  variables:
    ARC_VAR: READ_IDENTITY_CRISIS
    ARC_NAME: "Identity Crisis"

villains_united:
  extends: .arc_job
  needs: [identity_crisis]
  variables:
    ARC_VAR: READ_VILLAINS_UNITED
    ARC_NAME: "Villains United"

omac_project:
  extends: .arc_job
  needs: [identity_crisis]
  variables:
    ARC_VAR: READ_OMAC_PROJECT
    ARC_NAME: "OMAC Project"

day_of_vengeance:
  extends: .arc_job
  needs: [identity_crisis]
  variables:
    ARC_VAR: READ_DAY_OF_VENGEANCE
    ARC_NAME: "Day of Vengeance"

rann_thanagar_war:
  extends: .arc_job
  needs: [identity_crisis]
  variables:
    ARC_VAR: READ_RANN_THANAGAR_WAR
    ARC_NAME: "Rann-Thanagar War"

green_lantern_rebirth:
  extends: .arc_job
  needs: [identity_crisis, day_of_judgment]
  variables:
    ARC_VAR: READ_GREEN_LANTERN_REBIRTH
    ARC_NAME: "Green Lantern: Rebirth"

infinite_crisis:
  extends: .arc_job
  needs:
    - villains_united
    - omac_project
    - day_of_vengeance
    - rann_thanagar_war
    - green_lantern_rebirth
    - batman_under_the_hood
  variables:
    ARC_VAR: READ_INFINITE_CRISIS
    ARC_NAME: "Infinite Crisis"

one_year_later:
  extends: .arc_job
  needs: [infinite_crisis]
  variables:
    ARC_VAR: READ_ONE_YEAR_LATER
    ARC_NAME: "One Year Later"

fifty_two:
  extends: .arc_job
  needs: [infinite_crisis]
  variables:
    ARC_VAR: READ_52
    ARC_NAME: "52"

green_lantern_secret_origin:
  extends: .arc_job
  needs: [infinite_crisis, green_lantern_rebirth]
  variables:
    ARC_VAR: READ_GREEN_LANTERN_SECRET_ORIGIN
    ARC_NAME: "Green Lantern: Secret Origin"

countdown:
  extends: .arc_job
  needs:
    - one_year_later
    - fifty_two
  variables:
    ARC_VAR: READ_COUNTDOWN
    ARC_NAME: "Countdown"

seven_soldiers_of_victory:
  extends: .arc_job
  needs:
    - one_year_later
    - fifty_two
  variables:
    ARC_VAR: READ_SEVEN_SOLDIERS_OF_VICTORY
    ARC_NAME: "Seven Soldiers of Victory"

death_of_the_new_gods:
  extends: .arc_job
  needs:
    - fifty_two
  variables:
    ARC_VAR: READ_DEATH_OF_THE_NEW_GODS
    ARC_NAME: "Death of the New Gods"

sinestro_corps_war:
  extends: .arc_job
  needs:
    - fifty_two
    - green_lantern_secret_origin
    - one_year_later
  variables:
    ARC_VAR: READ_SINESTRO_CORPS_WAR
    ARC_NAME: "Sinestro Corps War"

final_crisis:
  extends: .arc_job
  needs:
    - countdown
    - seven_soldiers_of_victory
    - death_of_the_new_gods
    - sinestro_corps_war
    - batman_rip
  variables:
    ARC_VAR: READ_FINAL_CRISIS
    ARC_NAME: "Final Crisis"

war_of_light:
  extends: .arc_job
  needs: [final_crisis, sinestro_corps_war]
  variables:
    ARC_VAR: READ_WAR_OF_LIGHT
    ARC_NAME: "War of Light"

blackest_night:
  extends: .arc_job
  needs: [war_of_light, flash_rebirth]
  variables:
    ARC_VAR: READ_BLACKEST_NIGHT
    ARC_NAME: "Blackest Night"

# Batman: A Lonely Place of Dying
batman_a_lonely_place_of_dying:
  extends: .arc_job
  needs: [batman_a_death_in_the_family]
  variables:
    ARC_VAR: READ_BATMAN_A_LONELY_PLACE_OF_DYING
    ARC_NAME: "Batman: A Lonely Place of Dying"

# Batman: Hush
batman_hush:
  extends: .arc_job
  needs: [batman_a_lonely_place_of_dying]
  variables:
    ARC_VAR: READ_BATMAN_HUSH
    ARC_NAME: "Batman: Hush"

# Batman: Under the Hood
batman_under_the_hood:
  extends: .arc_job
  needs: [identity_crisis, batman_hush]
  variables:
    ARC_VAR: READ_BATMAN_UNDER_THE_HOOD
    ARC_NAME: "Batman: Under the Hood"

# Batman: Face the Face
batman_face_the_face:
  extends: .arc_job
  needs: [infinite_crisis, batman_under_the_hood]
  variables:
    ARC_VAR: READ_BATMAN_FACE_THE_FACE
    ARC_NAME: "Batman: Face the Face"

# Arkham Asylum: A Serious House on Serious Earth
arkham_asylum_serious_house:
  extends: .arc_job
  needs: [batman_the_killing_joke]
  variables:
    ARC_VAR: READ_ARKHAM_ASYLUM_SERIOUS_HOUSE
    ARC_NAME: "Arkham Asylum: A Serious House on Serious Earth"

# Batman: Gothic
batman_gothic:
  extends: .arc_job
  needs: [batman_the_killing_joke]
  variables:
    ARC_VAR: READ_BATMAN_GOTHIC
    ARC_NAME: "Batman: Gothic"

# Batman and Son
batman_and_son:
  extends: .arc_job
  needs: [batman_face_the_face]
  variables:
    ARC_VAR: READ_BATMAN_AND_SON
    ARC_NAME: "Batman and Son"

# Batman: The Resurrection of Ra's al Ghul
batman_resurrection_of_ras_al_ghul:
  extends: .arc_job
  needs: [batman_and_son]
  variables:
    ARC_VAR: READ_BATMAN_RESURRECTION_OF_RAS_AL_GHUL
    ARC_NAME: "Batman: The Resurrection of Ra's al Ghul"

# Batman: The Black Glove
batman_the_black_glove:
  extends: .arc_job
  needs: [batman_resurrection_of_ras_al_ghul]
  variables:
    ARC_VAR: READ_BATMAN_THE_BLACK_GLOVE
    ARC_NAME: "Batman: The Black Glove"

# Batman R.I.P.
batman_rip:
  extends: .arc_job
  needs: [batman_the_black_glove]
  variables:
    ARC_VAR: READ_BATMAN_RIP
    ARC_NAME: "Batman R.I.P."

# The Flash: Rebirth
flash_rebirth:
  extends: .arc_job
  needs: [final_crisis]
  variables:
    ARC_VAR: READ_FLASH_REBIRTH
    ARC_NAME: "The Flash: Rebirth"

# Brightest Day
brightest_day:
  extends: .arc_job
  needs: [blackest_night]
  variables:
    ARC_VAR: READ_BRIGHTEST_DAY
    ARC_NAME: "Brightest Day"

# Batman and Robin
batman_and_robin:
  extends: .arc_job
  needs: [batman_battle_for_the_cowl]
  variables:
    ARC_VAR: READ_BATMAN_AND_ROBIN
    ARC_NAME: "Batman and Robin (1-12)"

# Batman: Battle for the Cowl
batman_battle_for_the_cowl:
  extends: .arc_job
  needs: [final_crisis, batman_rip]
  variables:
    ARC_VAR: READ_BATMAN_BATTLE_FOR_THE_COWL
    ARC_NAME: "Batman: Battle for the Cowl"

# Return of Bruce Wayne
batman_return_of_bruce_wayne:
  extends: .arc_job
  needs: [batman_and_robin, blackest_night]
  variables:
    ARC_VAR: READ_BATMAN_RETURN_OF_BRUCE_WAYNE
    ARC_NAME: "Return of Bruce Wayne"

# Flash: Flashpoint
flash_flashpoint:
  extends: .arc_job
  needs: [batman_return_of_bruce_wayne, brightest_day, flash_rebirth]
  variables:
    ARC_VAR: READ_FLASH_FLASHPOINT
    ARC_NAME: "Flash: Flashpoint"

# Saga of the Swamp Thing
saga_of_the_swamp_thing:
  extends: .arc_job
  needs: [crisis_on_infinite_earths, roots_of_the_swamp_thing]
  variables:
    ARC_VAR: READ_SAGA_OF_THE_SWAMP_THING
    ARC_NAME: "Saga of the Swamp Thing"

# Swamp Thing: Love and Death
swamp_thing_love_and_death:
  extends: .arc_job
  needs: [saga_of_the_swamp_thing]
  variables:
    ARC_VAR: READ_SWAMP_THING_LOVE_AND_DEATH
    ARC_NAME: "Swamp Thing: Love and Death"

# Swamp Thing: The Curse
swamp_thing_the_curse:
  extends: .arc_job
  needs: [swamp_thing_love_and_death]
  variables:
    ARC_VAR: READ_SWAMP_THING_THE_CURSE
    ARC_NAME: "Swamp Thing: The Curse"

# Swamp Thing: A Murder of Crows
swamp_thing_a_murder_of_crows:
  extends: .arc_job
  needs: [swamp_thing_the_curse]
  variables:
    ARC_VAR: READ_SWAMP_THING_A_MURDER_OF_CROWS
    ARC_NAME: "Swamp Thing: A Murder of Crows"

# Swamp Thing: Earth to Earth
swamp_thing_earth_to_earth:
  extends: .arc_job
  needs: [swamp_thing_a_murder_of_crows]
  variables:
    ARC_VAR: READ_SWAMP_THING_EARTH_TO_EARTH
    ARC_NAME: "Swamp Thing: Earth to Earth"

# Swamp Thing: Reunion
swamp_thing_reunion:
  extends: .arc_job
  needs: [swamp_thing_earth_to_earth]
  variables:
    ARC_VAR: READ_SWAMP_THING_REUNION
    ARC_NAME: "Swamp Thing: Reunion"

# Animal Man: The Hunt
animal_man_the_hunt:
  extends: .arc_job
  needs: [flash_flashpoint, grant_morrisons_animal_man]
  variables:
    ARC_VAR: READ_ANIMAL_MAN_THE_HUNT
    ARC_NAME: "Animal Man: The Hunt"

# Grant Morrison's Animal Man
grant_morrisons_animal_man:
  extends: .arc_job
  needs: [crisis_on_infinite_earths]
  variables:
    ARC_VAR: READ_GRANT_MORRISONS_ANIMAL_MAN
    ARC_NAME: "Grant Morrison's Animal Man"

# Animal Man: Animal vs. Man
animal_man_animal_vs_man:
  extends: .arc_job
  needs: [animal_man_the_hunt, swamp_thing_raise_them_bones]
  variables:
    ARC_VAR: READ_ANIMAL_MAN_ANIMAL_VS_MAN
    ARC_NAME: "Animal Man: Animal vs. Man"

# Swamp Thing: Raise Them Bones
swamp_thing_raise_them_bones:
  extends: .arc_job
  needs: [swamp_thing_by_brian_k_vaughan, flash_flashpoint]
  variables:
    ARC_VAR: READ_SWAMP_THING_RAISE_THEM_BONES
    ARC_NAME: "Swamp Thing: Raise Them Bones"

# Swamp Thing by Brian K. Vaughan
swamp_thing_by_brian_k_vaughan:
  extends: .arc_job
  needs: [swamp_thing_reunion]
  variables:
    ARC_VAR: READ_SWAMP_THING_BY_BRIAN_K_VAUGHAN
    ARC_NAME: "Swamp Thing by Brian K. Vaughan"
